.page {
  page-break-after: always;
  /* height: 842pt; */
}

/** report1 start */
.report1-main-container {
  background: #b49fd8;
  height: 100%;
}

.report1-sub-container {
  background: #fff;
  height: 80%;
  width: 85%;
  margin: 6rem 0 6rem;
  border-radius: 0px 20px 20px 0px;
}

.report1-title {
  color: #b49fd8;
}
.report1-header{
  margin-left: 120px;
  color: #46315b;
}
.report1-cap-container {
  margin-top: 8rem;
  margin-left: 120px;
  width: 55%;
}

.report1-cap-container-middle{
  margin-top:2rem;;
  margin-left:120px;
}
.report1-cap {
  color: #452b4e;
  font-size: 30px;
  /* font-family: 'Poppins'; */
}
.report1-footer {
  padding: 8px;
  background: #dd66af;
  border-radius: 20px;
  margin-left: 120px;
  width: 70%;
}
.report1-footer-txt {
  color: #fff;
  /* font-family: 'Poppins'; */
}

.line-bar{
  width: 100px;
  height: 10px;
  border-radius: 5px;
  margin-left: 150px;
  background-color: #46315b;
}
/** report1 end */

/** report2 start */
.report2-top-container {
  height: 100px;
  background: #b49fd8;
}
.report2-btn-container {
  background: #dd66af;
  padding: 8px 30px;
  border-radius: 20px;
}
.report2-btn {
  color: #fff;
}
.report2-score-red {
  color: #ff5757;
}
.report2-score-green {
  color: #00bf63;
}
.report2-score-orange {
  color: #ff914d;
}
.report2-text {
  color: #452b4e;
  font-size: 14px !important;
  text-align: center;
}
.report2-section1 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report2-sub-section1 {
  padding: 0;
}
.report2-section2 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  margin: 0;
}
.report2-section3 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  margin: 0;
}
.report2-section4 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  margin: 0;
}
.report2-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  margin: 0;
}
/** report2 end */

/** report3 start */
.report3-btn-container {
  background: #dd66af;
  padding: 8px 20px;
  border-radius: 30px;
}
.report3-btn {
  color: #fff;
}
.report3-description-container {
  padding: 15px;
  background: #856FAB;
}
.report3-description {
  color: #fff;
}
.report3-mindset {
  color: #452b4e;
}
.report3-growth {
  color: #dd66af;
}
.report3-red {
  color: #ff5757;
}
.report3-green {
  color: #00bf63;
}
.report3-orange {
  color: #ff914d;
}
.report3-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report3-section2,
.report3-section3,
.report3-section4,
.report3-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report3-section6 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report3 end */

/** report4 start */
.report4-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report4-btn {
  color: #fff;
}
.report4-description-container {
  padding: 15px;
  background: #b49fd8;
}
.report4-description {
  color: #fff;
}
.report4-skill {
  color: #452b4e;
}
.report4-hrPro {
  color: #ff5757;
}
.report4-red {
  color: #ff5757;
}
.report4-green {
  color: #00bf63;
}
.report4-orange {
  color: #ff914d;
}
.report4-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report4-section2,
.report4-section3,
.report4-section4,
.report4-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report4-section6 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report4 end */

/** report5 start */
.report5-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report5-btn {
  color: #fff;
}
.report5-description-container {
  padding: 15px;
  background: #b49fd8;
}
.report5-description {
  color: #fff;
}
.report5-skill {
  color: #452b4e;
}
.report5-hrPro {
  color: #ff5757;
}
.report5-red {
  color: #ff5757;
}
.report5-green {
  color: #00bf63;
}
.report5-orange {
  color: #ff914d;
}
.report5-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report5-section2,
.report5-section3,
.report5-section4,
.report5-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report5-section6 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report5 end */

/** report6 start */
.report6-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report6-btn {
  color: #fff;
}
.report6-wus {
  color: #452b4e;
}
.report6-text {
  color: #dd66af;
}
.report6-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report6-section2 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report6-section3 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
/** report6 end */

/** report7 start */
.report7-section1 {
  border-top: thin solid #000;
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report7-section2,
.report7-section3,
.report7-section4 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  padding: 0;
  margin: 0;
}
.report7-section5 {
  border-left: thin solid #000;
  border-right: thin solid #000;
  border-bottom: thin solid #000;
  padding: 0;
  margin: 0;
}
.report7-btn-container {
  background: #a84e85;
  padding: 2px 20px;
  border-radius: 20px;
}
.report7-btn {
  color: #fff;
}
.report7-wrapper {
  background: #856FAB;
}
.report7-text-clr {
  color: #fff;
}
/** report7 end */

/** report8 start */
.report8-section1 {
  padding: 0;
  margin: 0;
  background: #b49fd8;
  border-radius: 20px 20px 0px 0px;
}
.report8-section2 {
  padding: 0;
  margin: 0;
  background: #b49fd8;
  border-radius: 0 0px 20px 20px;
}

.center-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.purple-horizontal-box {
  width: 99px;
  height: 1300px;
  background:  #B49FD8;
  border-radius: 0 20px 20px 0;
}

.purple-horizontal-box-reverse{
  width: 199px;
  border-radius: 20px 0px 0px 20px;
}

.page-container{
  display: flex;
  align-items: center;
  border: 1px solid black
}

/* 595 x 842 pt'. PDF Size */
/** report8 end */






/* SkillsDisplay.css */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Report overview styles */
.bg-purple{
  background-color: #EBD8EC;
}
.bg-green{
  background-color: #D5E6D0;
}
.bg-orange{
  background-color: #FDE0BE;
}
.text-purple{
  color: #462C4C;
}
.text-red{
  color: #FF555B;
}
.text-orange{
  color: #FE9663;
}
.text-green{
  color: #00BF6F;
}
.text-darkgreen{
  color: #1A7C39;
}
.text-darkred{
  color: #AC241D;
}
.bg-lightgreen{
  background-color: #EFFDF3;
}
.bg-lightred{
  background-color: #FDF5F6;
}
.text-sky{
  color: #2BBDD4;
}
.munsow-light-bg{
  background-color: #0EE1D2;
}
.munsow-dark-bg{
  background-color: #212E3E;
}
.munsow-light-text{
  color: #0EE1D2;
}
.munsow-dark-text{
  color: #212E3E;
}
.bar-red-bg{
  background-color: #FF555B;
}
.bar-orange-bg{
  background-color: #FE9663;  
}
.bar-green-bg{
  background-color: #00BF6F;  
}
.bg-grey{
  background-color: #F1F4F5;
}
.bg-img {
  background-image: url("./../../assets/report-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%; */
  height: 150vh;
  
}