.modal
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content
{
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  width: 800px;
  height: 570px;
}

.modalContent {
  transition: opacity 0.3s ease-in-out; /* Add transition property */
  opacity: 1; /* Initially set opacity to 1 */
}

.modalContent.hidden {
  opacity: 0; /* Hide content by setting opacity to 0 */
}

.modalCreateHead
{
  width: 500px;
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
}

.close
{
  background-color: white;
  font-weight: bolder;
  font-size: 40px;
  float: right;
  margin-top: -10px;
  cursor: pointer;
}