.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content{
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  /* width: 800px;
  height: 570px; */
}

.modalContent {
  transition: opacity 0.3s ease-in-out; /* Add transition property */
  opacity: 1; /* Initially set opacity to 1 */
}

.modalContent.hidden {
  opacity: 0; /* Hide content by setting opacity to 0 */
}

.modalCreateHead
{
  width: 500px;
  background-color: white;
  font-size: xx-large;
  font-weight: bold;
}

.close
{
  background-color: white;
  font-weight: bolder;
  font-size: 40px;
  float: right;
  margin-top: -10px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 4px solid #0fe1d2;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:hover {
  cursor: pointer;
}

/* 
.progressBar {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}

.progressBar-value {
  animation: load 60s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  background: #fff;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
} */


@keyframes progress-bar-animation {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progressBar {
  position: relative;
  width: 100%;
  height: 20px;
  background-color: #e5e5e5;
  overflow: hidden;
}

.progressFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #38b2ac;
  animation: progress-bar-animation 0s linear forwards;
}
