
.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  width: 700px;
  top: -24px;
  left: -24px;
}

.progress-value {
  animation: load 6s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  background: #fff;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 100%; }
}